header {
  width: 100%;
  height: 90px;
}
header .fl {
  width: 180px;
  height: 90px;
}
header .fl .logo {
  wdith: 100%;
  height: 100%;
}
header .fl .logo a {
  display: block;
  width: 100%;
  height: 100%;
  text-indent: -999em;
  background: url(img/logo.png) no-repeat;
}
